* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-family: "Gayathri", sans-serif;
    --main-txt-color: #fff; 
}

#wrapper{
    background: linear-gradient(#837ea7, #604958);
    width: 100%;
    min-height: 100vh;
    font-family: var(--text-family);
}
