* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-family: "Gayathri", sans-serif;
    --main-txt-color: #fff; 
}

#wrapper{
    background: linear-gradient(#837ea7, #604958);
    width: 100%;
    min-height: 100vh;
    font-family: var(--text-family);
}

p{
    padding: 2%;
}

h2{
    text-align: center;
}


.btn{
    padding: 5px 25px;
    border-radius: 25px;
}


/* -------------------------------------------------------------------listes------------------------------------------------------------ */

/* ---------------categories----------------------- */

/* #categories p{
    padding: 2% 5%;
} */


/* -------------topics------------------------- */
/* #topics p{
    padding: 2% 5%;
} */















footer{
    text-align: center;
}