* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-family: "Gayathri", sans-serif;
    --text-size: 1.1em;
    --title-size: 1.5em;

    --border-size: 25px;

    --main-txt-color: #fff; 
    --publication-bg-color: #B1AFC6;
    /* --main-bg-color: linear-gradient(#604958, #837ea7); */
    --main-bg-color: linear-gradient( #837ea7, #604958);
    --btn-color: #B2675E;
}

/* -------------------------general----------------------------- */

#wrapper{
    background: var(--main-bg-color);
    width: 100%;
    min-height: 100vh;
    font-family: var(--text-family);
}

textarea{
    font-family: var(--text-family);
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 25px 0;
}

.log-btn{
    background-color: #604958;
    padding: 5px 20px;
    border-radius: var(--border-size);
}

h2{
    text-align: center;
    color: var(--main-txt-color);
    size: var(--title-size);
    padding: 20px 0;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 5px 25px;
    border-radius: var(--border-size);
    background-color: var(--btn-color);
    border: none;
    color: var(--main-txt-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

button{
    transition: 1s;
    cursor: pointer;
}

button:hover{
    opacity: 0.5;
}

i{
    color: var(--main-txt-color);
}

.line-break{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.line{
    width: 50vw;
}

/* ---------------------------------------------------------homepage----------------------------- */

/* nav  */
nav a{
    /* text-decoration: none; */
    color: var(--main-txt-color);
}

#first-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}
#first-nav a{
    text-decoration: none;
}

#second-nav{
    display: flex;
    justify-content: space-evenly;
}



/* -------------------------------------------------------------------listes------------------------------------------------------------ */

#publications, #categories, #topics{
    margin: 0 10px;
}
/* ---------------categories----------------------- */

#categories a{
    color: var(--main-txt-color);
}

#categories p{
    padding: 10px 5px;
}

.categorie-main p{
    font-size: 1.5em;
}
.categorie-update{
    text-decoration: none;
}

/* -------------topics------------------------- */

#topics a{
    color: var(--main-txt-color);
    font-size: var(--text-size);
}

#topics .btn-container{
    margin-bottom: 25px;
}

.topic-listing p{
    padding: 10px 5px;
}

.topic-update{
    text-decoration: none;
}

.post-gbt{
    text-align: center;
    color: var(--main-txt-color);
    padding: 10px;
}

.post-gbt a{
    color: var(--main-txt-color);
}

/* ------------------publications--------------- */



.publication{
    background-color: var(--publication-bg-color);
    border-radius: var(--border-size);
    padding: 20px;
    margin: 10px;
}

.publication-header{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publication-header a{
    color: black;
}

.publication-header p{
    font-weight: bolder;
}


/* ------------------------------------user info--------------------- */
#user h3{
    text-align: center;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.user-info p{
    font-size: larger;
    font-weight: 1000;
}

.user-post{
    background-color: var(--publication-bg-color);
    border-radius: var(--border-size);
    padding: 20px;
    margin: 10px;
}

.user-post-header p, .user-post-header a{
    color: black;
    font-weight: 1000;
}

.user-post-main{
    margin-top: 10px;
}

.user-topics{
    text-align: center;
}

.user-topics a{
    color: var(--main-txt-color);
}
.user-topics p{
    padding: 10px 0;
}

.user-topic-main p{
    font-size: 1.5em;
}

.user-topic-update a{
    text-decoration: none;
}

/* ----------formulaires---------- */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titre, #texte{
    background-color: transparent;
    border: #b1afc6 solid;
    outline: none;
    border-radius: var(--border-size);
}
#titre{
    padding: 10px;
    margin: 0 10px;
}
#texte{
    margin: 0 10px;
    padding: 10px 50px 50px 10px;
}

::placeholder{
    color: var(--main-txt-color);
}

form input[type=submit]{
    background-color: var(--btn-color);
    padding: 5px 20px;
    border-radius: var(--border-size);
    border: none;
}

input{
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 5px;
}

/* lien créer un compte depuis login */
.create-account{
    text-align: center;
    margin: 25px 0;
}

.create-account a{
    color: var(--main-txt-color);
}

/* ------------register */
#register input[type=submit]{
    margin: 15px;
}


/* -------------------------modification---------------------- */

/* post  */
#form-update-post input{
    width: 300px;
}

#form-update-post h3{
    text-align: center;
    margin: 20px;
}


#form-update-post .update-btn{
    margin-bottom: 20px;
}

/* topic  */
#form-update-topic h3{
    text-align: center;
    margin: 20px;
}

#form-update-topic .update-btn{
    margin: 20px 0;
}

footer{
    text-align: center;
}

footer p, footer a{
    color: var(--main-txt-color);
}